.search {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 7vh;
  }
  
  .search input {
    font-size: 20px;
    background: rgb(248, 217, 217);
    border: 5px solid #473e3e;
    min-width: 0;
    color: black;
    padding: .75rem 1.5rem;
    border-radius: 27px;
    margin-bottom: 1vh;
  }
  
  .search input:focus{
    outline: none;
  }

::placeholder {
    font-size: 20px;
}