.TodoItems {
    display: flex;
    height: 10vh;
    font-family: sans-serif;
    font-weight: 300;
    font-size: calc(10px + 1.5vw);
    border: 1px solid #EEE;
    transition: background-color 0.8s, height 1s;
}

.TodoItems:hover {
    background-color: #65fad71a;
    height: 12vh;
}

.TodoItems:focus {
    height: 20vh;
}

/* .TodoItems:first-child {
    margin-top: 320px;
} */

.TodoItems .item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 32px;
}

.TodoItems .item > p {
    margin: 0 30px;
    width: 100%;
    flex-grow: 1;
}

.TodoItems .item span {
    opacity: 0;
    transition: opacity 0.3s;
}

.TodoItems:hover .item span{
    opacity: 1;
}

.TodoItems .item > img {
    width: 3vmax;
    height: 3vmax;
    text-decoration: none;
    transition: text-decoration 1s;
}

.TodoItems-complete .item > p {
    width: 20vw;
    text-decoration: line-through;
    opacity: 0.3;
}
