.App {
  /* text-align: center; */
  margin: 2vmin 10vmin;
}

body {
  /* background-color: #434444;   */
}

.Title {
  text-align: center;
  font-size: calc(10px + 5vw);
  background-color: #000;
  margin: 1vh 0;
  color: white;
}

.Title span{
  background-color: #341d1d;
  display: flex;
  justify-content: center;
}

.p {
  text-align: center;
  margin: 32px;
  font-size: calc(10px + 1vw);
}

